<div class="jumbotron center">
  
  <!--<div class="container">  # To make jumbotron full width, but don't forget the container in application.html.erb-->
    <h1>Welcome to Golf Insights</h1>
    <p>Track your handicap, measure your shot performance, and learn where to focus on improving your game.</p>
    
    <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %>
    <%= link_to "Login", new_user_session_path, class: 'btn btn-success' %>
  <!--</div>-->
  
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>What is Golf Insights?</h2>
      <p>A mobile friendly web application that calculates your handicap and tracks your shot by shot performance statistics.</p>
      <!--<p><a class="btn btn-warning" href="features.html" role="button">Join the Convo</a></p>-->
    </div>
    <div class="col-md-4">
      <h2>Why bother?</h2>
      <p>As the old adage goes, "You can't manage what you can't measure." Tracking your shot performance with a purpose will help you practice more effectively and lower your handicap.</p>
      <!--<p><a class="btn btn-warning" href="features.html" role="button">See what's up</a></p>-->
    </div>
    <div class="col-md-4">
      <!-- <h2>Manage Multiple Twitter Accounts</h2> -->
      <h2>Golfer's Social Network</h2>
      <p>Golf Insights is also a place where you can connect, network, and chat with other golfers who are striving to improve their game.</p>
      <%= link_to "Give it a try!", new_user_registration_path, class: "btn btn-warning" %>
    </div>
  </div>

  <hr>

  <footer>
    <p>&copy; BroadReachLabs 2016</p>
  </footer>
  
</div> <!-- /container -->