<div class="jumbotron center">
  
  <!--<div class="container">  # To make jumbotron full width, but don't forget the container in application.html.erb-->
    <h1>Welcome to Golf Insights</h1>
    <p>Track your rounds, calculate your handicap, and measure your shot/club performance. Find your game.</p>
    
    <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-success' %>
    <%= link_to "Login", new_user_session_path, class: 'btn btn-primary' %>
  <!--</div>-->
  
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>What is Golf Insights?</h2>
      <p>A mobile-friendly web application you can use either on or off the course to track your scores, calculate your handicap, and measure your shot/club performance statistics.</p>
      <!--<p><a class="btn btn-warning" href="features.html" role="button">Join the Convo</a></p>-->
    </div>
    <div class="col-md-4">
      <h2>Why bother?</h2>
      <p>As the old saying goes, "You can't manage what you can't measure." Tracking your shot performance will show you where you can save the most strokes, practice more effectively, and lower your handicap.</p>
      <!--<p><a class="btn btn-warning" href="features.html" role="button">See what's up</a></p>-->
    </div>
    <div class="col-md-4">
      <!-- <h2>Manage Multiple Twitter Accounts</h2> -->
      <h2>Golfer's Social Network</h2>
      <p>Golf Insights is also a place where you can connect and network with other people who love the game of golf.</p>
      <p style="font-style: italic">(Social features coming soon...)</p>
      <%= link_to "Give it a try!", new_user_registration_path, class: "btn btn-warning" %>
    </div>
  </div>

  <hr>

  <footer>
    <p>&copy; BroadReachLabs 2016</p>
  </footer>
  
</div> <!-- /container -->